html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

body {
  	font-family: "museo-sans",sans-serif;
}

p {
	font-size: 14px;
	font-weight: 500;
	color: #333;
	line-height: 19px;
}

.logo {
	position: relative;
	left: 50%;
	width: 216px;
	margin: 14px 0 38px -108px;
}

h5 {
	font-weight: 500;
	font-size: 16px;
	color: #3C3C3C;
	margin: 0 0 8px 12px;
}

.well {
	padding: 0;
	border: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	box-shadow: none;
	-webkit-box-shadow: 0;
	-moz-box-shadow: 0;
}

.form-search, .form-results {
	max-width: 260px;
	padding: 19px 29px 12px 29px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	background-color: #EFEFEA;
	opacity: .9;
}

.input-block-level {
	height: none;
	
}

input {
	height: none;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	font-family: "museo-sans",sans-serif;
	font-weight: 300;
  	font-size: 26px;
	display: inline-block;
	height: 50px;
	padding: 3px 14px 0 14px;
	margin-bottom: 0;
	line-height: 28px;
	color: #333333;
	vertical-align: none;
	-webkit-border-radius: 1px;
 	  -moz-border-radius: 1px;
        border-radius: 1px;
    border: 1px solid #cccccc;
	-webkit-transition: border linear 0.4s, box-shadow linear 0.2s;
	   -moz-transition: border linear 0.4s, box-shadow linear 0.2s;
	     -o-transition: border linear 0.4s, box-shadow linear 0.2s;
	        transition: border linear 0.4s, box-shadow linear 0.2s;	
}

input[type="text"]:focus {
	background-color: #ffffff;
	border: 1px solid #aaaaaa;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
  padding-top: 2px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
  padding-top: 2px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
  padding-top: 2px;
}

.btn {
	position: relative;
	display: inherit;
	background-color: #82BF22;
	font-family: "museo-sans",sans-serif;
	font-weight: 500;
	font-size: 22px;
	letter-spacing: .3;
	color: #ffffff;
	text-shadow: none;
	border: 0;
	width: 57%;
	margin: 33px auto 43px auto;
	-webkit-border-radius: 0;
	padding: 17px 29px;
	
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: none;
	
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
} 

.distance .btn {
	float: left;
	position: relative;
	width: 22px;
	height: 22px;
	font-family: "museo-sans-rounded",sans-serif;
	position: absolute;
	top: 19px;
	left: 16px;
	margin: 0;
	padding: 0;
	background-color: #50c4e5;
	text-align: right;
	font-weight: 700;
	font-size: 34px;
	letter-spacing: 3px;
	color: #fff;

	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	background-repeat: none;
	
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}



.btn:hover {
	background-color: #8BC12D;
	color: #ffffff;
}

.distance .btn:hover {
	background-color: #50c4e5;
}

.location {
	background-color: #c9c9c3;
	padding: 13px 14px 13px 14px;
	font-weight: 300;
	font-size: 26px;
	line-height: 29px;
	color: #333;
}

.arrow {
	text-align: center;
	margin-top: 8px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 8px;
}

.distance { 
	font-family: "museo-sans-rounded",sans-serif;
	position: relative;
	width: 58%;
	margin: 33px auto 30px auto;
	padding: 22px 14px 14px 14px;
	background-color: #50c4e5;
	text-align: right;
	font-weight: 700;
	font-size: 34px;
	letter-spacing: 3px;
	color: #fff;
}

.distance span {
	font-size: 16px;
	font-weight: 500;
	margin-left: 7px;
	letter-spacing: 0;
}

.roads {
	border-top: 1px solid #aaa;
	margin-bottom: 20px;
}

.roads>h6 {
	margin-bottom: 0;
	font-weight: 700;
	font-size: 14px;
	color: #50c4e5;
}

.roads p {
	margin: 0;
}

.roads p span {
	font-weight: 700;
}

.roads p.vegur {
	float: left;
}

.roads p.vegnumer {
	float: left;
}

.roads p.vegalengd {
	text-align: right;
}

.vegagerdin {
	padding-top: 10px;
}

.bonvoyage {
	margin: 24px 0 ;
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	text-align: center;
}


@media (min-width: 768px) and (max-width: 979px) {

 	.row-fluid .span4 {
	    width: 320px;
	    *width: 320px;
	}
}

@media all and (max-width: 480px) {
	
	body {
		background-color: #EFEFEA;
	}
	.bg {
		display:  none;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	
	.form-search, .form-results {
		max-width: 80%;
		padding: 19px 0 0 0;
		margin: 0 auto;
		background-color: #EFEFEA;
		opacity: 1;
	}
}

