<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>How far is?{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style> body { padding-top: 60px; } </style>

    <!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

    <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-typeahead.js"></script>

    {% endblock %}
  </head>

  <body>

    {% block navbar %}
    <div class="container">
        <div class="logo">
            <a href="/"><img src="../static/assets/img/howfar_logo.png"></a>
        </div>
    </div>
    {% endblock %}

    <div class="container page">
        <div class="content">
          {% block content %}
          {% endblock %}
        </div>

        <hr>

        {% block footer %}
        <footer class="footer">
            <p>&copy; How far is?</p>
        </footer>
        {% endblock %}

    </div>
    {% block js_footer %}


    {% endblock %}
  </body>
</html>