{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}


<div class="bg"><img alt="full screen background image" src="../static/img/road_05.jpg" id="full-screen-background-image" />
</div>

<div class="pattern">
</div>

    <div class="container">

    	<div class="well form-results">

			<div>

			<div class="logo"><a href="http://www.vegvisir.is"><img src="../static/img/vegvisir_logo.svg" alt="Vegvísir" /></a></div>

            <div class="error"><div class="ubbs">– Úbbs! –</div> Hér fór eitthvað úrskeiðis.<br>
            <A HREF="javascript:javascript:history.go(-1)">Prófaðu aftur.</a></div>

            <div class="share">
                <div class="fb-like" data-href="http://www.vegvisir.is/" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false" data-font="lucida grande"></div>
            </div>

	     </div>

    </div>

<a href="http://www.marinothorlacius.com" target="_blank"><div class="photo-credit">Ljósmynd: Marinó Thorlacius</div></a>

{% endblock %}