{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}


<div class="bg"><img alt="full screen background image" src="../static/img/road_05.jpg" id="full-screen-background-image" />
</div>

<div class="pattern">
</div>

    <div class="container">

    	<div class="well form-results">

			<div>

			<a href="http://www.vegvisir.is"><div class="logo"></div></a>

            <div class="error"><div class="ubbs">– Úbbs! –</div> Hér fór eitthvað úrskeiðis.<br>
            <A HREF="javascript:javascript:history.go(-1)">Prófaðu aftur.</a></div>

            <div class="share">
                <div class="fb-like" data-href="http://www.vegvisir.is/" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false" data-font="lucida grande"></div>
            </div>

	     </div>

    </div>

<!-- <div class="info">
    <div class="social"><a href="http://www.facebook.com/vegvisir.is" target="_blank"><i class="icon-facebook-sign"></i></a></div>
    <div class="social"><a href="http://twitter.com/vegvisiriceland" target="_blank"><i class="icon-twitter"></i></a></div>
    <div class="photo-credit"><a href="http://www.marinothorlacius.com" target="_blank">Ljósmynd: Marinó Thorlacius</a></div>
</div> -->

{% endblock %}