{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}

<div>
<form class="well form-search" action="result" method="post">
<input id="from_id" type="hidden" name="from_id">
<input id="to_id" type="hidden" name="to_id">
Brottfararstaður: <input class="from" type="text" name="from_place"/><br />
</br>
Áfangastaður: <input class="to" type="text" name="to_place"/><br />
<button type="submit" class="btn">Sýna</button>
</form>
</div>
<script type="text/javascript">
     $('.from').typeahead({
        source: [
        {% for row in rows %}
            { id: {{ row[1] }}, name: '{{ row[0] }}' },
            {% endfor %}
        ],
        itemSelected: function(item, val, text){
        $('#from_id').val(val);
    }
    });
     $('.to').typeahead({
        source: [
        {% for row in rows %}
            { id: {{ row[1] }}, name: '{{ row[0] }}' },
            {% endfor %}
        ],
        itemSelected: function(item, val, text){
        $('#to_id').val(val);
    }
    });

</script>

{% endblock %}