{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}

<div><img src="../static/img/road_01.jpg" class="bg" /> </div>
        
    <div class="container">
        
        <div class="row-fluid"> 
            <div class="span4 offset4">
                <form class="well form-search" action="result" method="post" autocomplete="off">
                    <input id="from_id" type="hidden" name="from_id">
                    <input id="to_id" type="hidden" name="to_id">
                    
                    <div class="logo"><a href="http://howfaris.gogn.in"><img src="../static/img/vegvisir_logo.svg" alt="Vegvísir"></a></div>
                    
                    <h5>Brottfararstaður</h5> 
                    <input class="from input-block-level" type="text" name="from_place"/>
                    
                    <h5>Áfangastaður</h5> 
                    <input class="to input-block-level" type="text" name="to_place"/>
                    
                    <br/>
                    
                    <button type="submit" class="btn">Af stað!</button>
                    
                </form>
              </div>        
        </div>
        
    </div>

<script type="text/javascript">
var source = [
        {% for row in rows %}{ id: {{ row[1] }}, name: '{{ row[0] }}' },{% endfor %}
        ];
     $('.from').typeahead({
        source: source,
        itemSelected: function(item, val, text){
        $('#from_id').val(val);
    }
    });
     $('.to').typeahead({
        source: source,
        itemSelected: function(item, val, text){
        $('#to_id').val(val);
    }
    });

</script>

{% endblock %}