{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="bg"><img alt="full screen background image" src="../static/img/road_03.jpg" id="full-screen-background-image" />
</div>

<div class="pattern"></div>

    <div class="container">


        <form class="well form-search" action="/result" method="post" autocomplete="off" id ="route_select">
            <input id="from_id" type="hidden" name="from_id" >
            <input id="to_id" type="hidden" name="to_id" >

            <div class="logo"><a href="http://www.vegvisir.is"><img src="../static/img/vegvisir_logo.svg" alt="Vegvísir"></a></div>

            <!--<h5>Brottfararstaður</h5>-->
            <input class="from box input-block-level" type="text" name="from_place" placeholder="Brottfararstaður" onblur="this.placeholder = 'Brottfararstaður'" autocomplete="off" id="from" />

            <!-- Ör -->
            <div class="arrow"><img src="../static/img/arrow.png"></div>

            <!--<h5>Áfangastaður</h5>-->
            <input class="to input-block-level" type="text" name="to_place" placeholder="Áfangastaður" onblur="this.placeholder = 'Áfangastaður'" autocomplete="off" id="to" />

            <!-- Takki -->
            <button type="submit" class="btn" onclick="submitForm()">Af stað!</button>

            <div class="share">
                <div class="fb-like" data-href="http://www.vegvisir.is" data-send="true" data-layout="button_count" data-width="120" data-show-faces="false" data-font="lucida grande"></div>
            </div>
        </form>


    </div>

<div class="info">
    <div class="social"><i class="icon-facebook-sign"></i></div>
    <div class="social"><i class="icon-twitter"></i></div>
    <div class="photo-credit"><a href="http://www.marinothorlacius.com" target="_blank"><i class="icon-camera"><p>Marinó Thorlacius</p></a></div>
</div>


<script type="text/javascript">
var source = [
        {% for row in rows %}{ id: {{ row[1] }}, name: '{{ row[0] }}' },{% endfor %}
        ];
     $('.from').typeahead({
        source: source,
        itemSelected: function(item, val, text){
        $('#from_id').val(val);
    }
    });
     $('.to').typeahead({
        source: source,
        itemSelected: function(item, val, text){
        $('#to_id').val(val);
    }
    });



     $('input:text').focus(
    function(){
        $(this).attr("placeholder","");
    });

     function submitForm(){
        var safe_from = $(route_select.from).val().latinise();
        var safe_to = $(route_select.to).val().latinise();
        if (safe_from == '' && safe_to == '') {
            var rand1 = source[Math.floor(Math.random() * source.length)];
            var rand2 = source[Math.floor(Math.random() * source.length)];
            safe_from = rand1['name'].latinise();
$('input[name=from_place]').val(rand1['name']);
$('input[name=from_id]').val(rand1['id']);
    safe_to = rand2['name'].latinise();
$('input[name=to_place]').val(rand2['name']);
$('input[name=to_id]').val(rand2['id']);
    }

if (safe_to == '') {
            var rand2 = source[Math.floor(Math.random() * source.length)];
    safe_to = rand2['name'].latinise();
$('input[name=to_place]').val(rand2['name']);
$('input[name=to_id]').val(rand2['id']);
    }

        safe_from = safe_from.replace(/\s/g, "_");
        safe_to = safe_to.replace(/\s/g, "_");
    $("#route_select").attr("action",'/'+safe_from+'/'+safe_to);
    $("#route_select").submit();
}

</script>

{% endblock %}